h1,
h3 {
  text-align: center;
}

#black {
  background-color: rgb(48, 48, 48);
}
#blue {
  background-color: #00cbff;
}
#yellow {
  background-color: #ffee00;
}
#red {
  background-color: #fe4437;
}
#green {
  background-color: #00ff66;
}
#lavendar {
  background-color: #e061f8;
}
#pink {
  background-color: #f87ab5;
}

.style.blue {
  #theme-opt {
    background-color: #e8faff;
  }
  background-color: #e8faff;

  #nav {
    background-color: #c3f3ed;
  }
}
.style.black {
  #theme-opt {
    background-color: #000000;
  }
  background-color: #000000;
  color: white;
  #nav {
    #mynav-items {
      color: white;
    }
    background-color: #444444;
  }
}
.style.pink {
  #theme-opt {
    background-color: #ffe8fa;
  }
  background-color: #ffe8fa;
  #nav {
    background-color: #fea6dd;
  }
}
.style.red {
  #theme-opt {
    background-color: #ffe8e8;
  }
  background-color: #ffe8e8;
  #nav {
    background-color: #f3c3c3;
  }
}
.style.yellow {
  #theme-opt {
    background-color: #feffe8;
  }
  background-color: #feffe8;
  #nav {
    background-color: #f8fea6;
  }
}
.style.green {
  #theme-opt {
    background-color: #e8ffec;
  }
  background-color: #e8ffec;
  #nav {
    background-color: #c3f3c5;
  }
}
.style.lavendar {
  #theme-opt {
    background-color: #ffe8fe;
  }
  background-color: #ffe8fe;
  #nav {
    background-color: #f1c3f3;
  }
}

#nav {
  width: 80%;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 4% auto 0% auto;
  /* height: fit-content;  */
  #mynav-items {
    color: black;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    padding: auto auto;
  }
}

#theme-opt {
  max-width: 300px;
  margin: 10px 2px 10px auto;
  text-align: center;
  padding: 0px 0px;
  border-radius: 40px;
  height: 30px;
  div {
    cursor: pointer;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 7px 10px;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
}
