.sub,
.head {
  text-align: center;
}
.Dailytxt {
  text-decoration: solid;
}

#black {
  background-color: rgb(48, 48, 48);
}
#blue {
  background-color: #00cbff;
}
#yellow {
  background-color: #ffee00;
}

#green {
  background-color: #00ff66;
}
#lavendar {
  background-color: #e061f8;
}
#pink {
  background-color: #f87ab5;
}

.style.blue {
  .news,
  .content-section .content .button a:hover {
    background-color: #7edcf9;
    color: black;
  }
  #theme-opt {
    background-color: #e8faff;
  }
  background-color: #e8faff;

  #nav,
  .search-bar {
    background-color: #c3f3ed;
  }
}
.style.black {
  .news,
  .content-section .content .button a:hover {
    background-color: #0f0c0c;
    border: 2px solid white;
  }
  #theme-opt {
    background-color: #000000;
    div {
      border: 1px solid white;
    }
  }
  .content-section .content h3 {
    color: whitesmoke;
  }
  .search-bar::placeholder {
    color: white;
  }
  #nav,
  .search-bar {
    #mynav-items {
      color: white;
    }
    color: white;
    background-color: #3b3b3b;
  }
  background-color: #000000;
  color: white;
}
.style.pink {
  .news,
  .content-section .content .button a:hover {
    background-color: #fe96ca;
    color: black;
  }
  #theme-opt {
    background-color: #ffe8fa;
  }
  background-color: #ffe8fa;
  #nav,
  .search-bar {
    background-color: #fea6dd;
  }
}
.style.yellow {
  .news,
  .content-section .content .button a:hover {
    background-color: #f3fb89;
    color: black;
  }
  #theme-opt {
    background-color: #feffe8;
  }
  background-color: #feffe8;
  #nav,
  .search-bar {
    background-color: #f8fea6;
  }
}
.style.green {
  .news,
  .content-section .content .button a:hover {
    background-color: #7ef986;
    color: black;
  }
  #theme-opt {
    background-color: #e8ffec;
  }
  background-color: #e8ffec;
  #nav,
  .search-bar {
    background-color: #c3f3c5;
  }
}
.style.lavendar {
  .news,
  .content-section .content .button a:hover {
    background-color: #fbaff6;
    color: black;
  }
  #theme-opt {
    background-color: #ffe8fe;
  }
  background-color: #fddbfc;
  #nav,
  .search-bar {
    background-color: #f1c3f3;
  }
}
#nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 80%;
  padding: 5px 10px;
  margin: 4% auto 4% auto;
  #mynav-items {
    color: black;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    padding: auto auto;
  }
}

#theme-opt {
  width: fit-content;
  margin: 10px 10px;
  text-align: center;
  border-radius: 40px;
  height: 50px;
  display: grid;
  padding: 10px 20px;
  column-gap: 7px;
  row-gap: 4px;
  grid-template-columns: repeat(3, 1fr);
  div {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
}


@media only screen and (max-width: 765px) {
  #nav {
    width: 100%;
    padding: 0px;
    #mynav-items {
      color: black;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 15px;
      padding: auto auto;
    }
  }
  #theme-opt {
    margin: 0px;
    height: 30px;
    padding: 2px 2px;
    div {
      width: 10px;
      height: 10px;
    }
  }
}

